h2 {
  color: var(--text-color);
}

.btn-signup {
  background-color: #e2c5bb;
  color: #fef7f2;
  background-color: #2b1b12;
  padding: 0.5rem;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  border-radius: 0.5rem;
  border: #2b1b12;
  cursor: pointer;
}

.btn-signup:hover {
  background-color: #e2c5bb;
  color: #2b1b12;
  transition: all 0.3s ease-in-out;
}

.arrow-icon {
  cursor: pointer;
}
.arrow-icon:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.text-circle {
  position: relative;
  width: 200px; /* adjust the size of the circle */
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-circle span {
  position: absolute;
  transform-origin: center;
  transform: rotate(0deg);
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
