h2 {
  color: var(--text-color);
}

.btn-signup {
  background-color: #e2c5bb;
  color: #fef7f2;
  background-color: #2b1b12;
  padding: 0.5rem;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  border-radius: 0.5rem;
  border: #2b1b12;
  cursor: pointer;
}

.btn-signup:hover {
  background-color: #e2c5bb;
  color: #2b1b12;
  transition: all 0.3s ease-in-out;
}

.arrow-icon {
  cursor: pointer;
}
.arrow-icon:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.check-items {
  align-items: center;
}
