@import "tailwindcss";
@import url(./boris.css);
@import url(./mal.css);

/* setting first primary colors as variable */
:root {
  --input-color: #e2c5bb;
  --footer-color: #e2c5bb;
  --secondary-color: #ddc7bb;
  --residences-color: #ddc7bb;
  --background-color: #fef7f2;
  --button-color: #2b1b12;
  --third-color: #2b1b1257;
}
